body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #e5e4e4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
  }
  
  h1 {
    text-align: center;
    color: #08316d;
  }
  
  #search {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  #search:focus {
    border: 1px solid gray;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .product h3 {
    margin: 0 0 10px;
    text-align: center;
  }
  
  .product p {
    margin: 5px 0;
  }
  
  button {
    padding: 6px 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end;
  }
  
  button:hover {
    opacity: 0.9;
  }

  .favbtn.active {
    background-color: red;
  }